<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{$title}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!--
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  -->
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">{$headline}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{$subheadline}</h5>
        </div>
        <div class="row center">
		        <div class="col s4 offset-s4">

					<form method="post" action="/email">
					  <div class="form-group">
						<input type="text" class="form-control" name="name" placeholder="Your Name">
					  </div>
					  <div class="form-group">
						<input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
					  </div>
					  <button type="submit" class="btn btn-primary">{$calltoaction}</button>
					</form>
					
			   </div>
			
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{$heroshot}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
		    <img class="center" style="width:100%" src="{$usp1_image}" />
            <h5 class="center">{$usp1_headline}</h5>
            <p class="light">{$usp1_text}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
		    <img class="center" style="width:100%" src="{$usp2_image}" />
            <h5 class="center">{$usp2_headline}</h5>
            <p class="light">{$usp2_text}</p>
		  </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
		    <img class="center" style="width:100%" src="{$socialproof_image}" />
            <h5 class="center">{$socialproof_name}</h5>
            <p class="light">&bdquo;{$socialproof_quote}&rdquo;</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  
  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container">
		Copyright &copy; {$copyright} | <a class="white-text" href="/impressum">Impressum</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <div id="config" style="display:none;" data-guid="{$guid}">&nbsp;</div>
  <script src="js/tracking.js"></script>

  {$analytics}


  </body>
</html>
